.jumbotron {
    width: 100%;
    min-height: 300px;
    background-color: rgba(255, 238, 232, 1);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    border: 1px solid rgba(255, 238, 232, 1);

    background-color: white;
    top: -180px;
    width: 85%;
    margin: 0 auto;
    /* shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-content .img-profile {
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

.main-content{
    position: relative;
    top: -180px;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    /* shadow */
}
.main-content-left{
    width: 35%;
}

.main-content-right{
    width: 65%;
}
#card-content .card{
    width: 48%;
}

footer{
    height: 412px;
}
footer #footer-top{
    height: 80%;
    /* background-color: #f0f0f0; */
}
.medsos a{
    padding: 1rem;
    background-color: rgba(54, 59, 71, 0.4);
    transition: 0.3s;
}
.medsos a:hover{
    background-color: rgba(22, 22, 22, 0.9);
}

.medsos .linkedin{
    background-color: rgba(4, 171, 255, 1);
}
.medsos .linkedin:hover{
    background-color: rgba(4, 171, 255, 0.9);
}