#card-content{
    width: 90%;
}
#card .option-card {
    visibility: hidden;
    transition: 0.3s ease-in;
}
#card .open-option{
    cursor: pointer;
}
#card .option-card {
    z-index: 10;
    bottom: 40px; 
    right: -150px;
    width: 240px;
}
#card .option-card:hover{
    visibility: visible;
}
#card .open-option:hover + .option-card {
    visibility: visible;
}
#card .option-card a {
    display: block;
    padding:10px;
    padding-left: 20px;
    text-decoration: none;
    color: rgb(68, 64, 64);
}
#card .option-card a:hover {
    background-color: rgba(4, 171, 255, 1);
    color: white;
}